<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devs.devs.mapper.FieldMapper">
    <resultMap id="BaseResultMap" type="com.devs.devs.valueobject.RuleFieldDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="field_code" jdbcType="VARCHAR" property="fieldCode"/>
        <result column="field_name" jdbcType="VARCHAR" property="fieldName"/>
        <result column="field_type" jdbcType="VARCHAR" property="fieldType"/>
        <result column="field_source" jdbcType="VARCHAR" property="fieldSource"/>
        <result column="field_path" jdbcType="VARCHAR" property="fieldPath"/>
        <result column="field_desc" jdbcType="VARCHAR" property="fieldDesc"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,create_time,update_time,field_code,field_name,field_type,field_source,field_path,field_desc
    </sql>

</mapper>