<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devs.devs.mapper.RuleInfoMapper">
    <resultMap id="BaseResultMap" type="com.devs.devs.valueobject.RuleInfoDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="scene_id" jdbcType="BIGINT" property="sceneId"/>
        <result column="rule_name" jdbcType="VARCHAR" property="ruleName"/>
        <result column="rule_type" jdbcType="VARCHAR" property="ruleType"/>
        <result column="rule_json" jdbcType="OTHER" property="ruleJson"/>
        <result column="rule_desc" jdbcType="VARCHAR" property="ruleDesc"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , create_time, update_time, model_id, rule_name, rule_type, rule_json, rule_desc
    </sql>
</mapper>