<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devs.devs.dao.FieldMapper">
  <resultMap id="BaseResultMap" type="com.devs.devs.dao.model.FieldDO">
    <id column="ID" jdbcType="BIGINT" property="id"/>
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="CODE" jdbcType="VARCHAR" property="code"/>
    <result column="NAME" jdbcType="VARCHAR" property="name"/>
    <result column="TYPE" jdbcType="VARCHAR" property="type"/>
    <result column="SOURCE" jdbcType="VARCHAR" property="source"/>
    <result column="PATH" jdbcType="VARCHAR" property="path"/>
    <result column="DESC" jdbcType="VARCHAR" property="desc"/>
  </resultMap>
  <sql id="Base_Column_List">
    ID, CREATE_TIME, UPDATE_TIME, CODE, NAME, TYPE, `SOURCE`, `PATH`, `DESC`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from field
    where ID = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete
    from field
    where ID = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByCode">
    delete
    from field
    where CODE = #{code}
  </delete>

  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.devs.devs.dao.model.FieldDO"
          useGeneratedKeys="true">
    insert into field (CREATE_TIME, UPDATE_TIME, CODE,
                       NAME, TYPE, `SOURCE`,
                       `PATH`, `DESC`)
    values (sysdate(), sysdate(), #{code,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR},
            #{path,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.devs.devs.dao.model.FieldDO"
          useGeneratedKeys="true">
    insert into field
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="source != null">
        `SOURCE`,
      </if>
      <if test="path != null">
        `PATH`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.devs.devs.dao.model.FieldDO">
    update field
    <set>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        `SOURCE` = #{source,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        `PATH` = #{path,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.devs.devs.dao.model.FieldDO">
    update field
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
        CODE        = #{code,jdbcType=VARCHAR},
        NAME        = #{name,jdbcType=VARCHAR},
        TYPE        = #{type,jdbcType=VARCHAR},
        `SOURCE`    = #{source,jdbcType=VARCHAR},
        `PATH`      = #{path,jdbcType=VARCHAR},
        `DESC`      = #{desc, jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByCode" parameterType="com.devs.devs.dao.model.FieldDO">
    update field
    set UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
        CODE        = #{code,jdbcType=VARCHAR},
        NAME        = #{name,jdbcType=VARCHAR},
        TYPE        = #{type,jdbcType=VARCHAR},
        `SOURCE`    = #{source,jdbcType=VARCHAR},
        `PATH`      = #{path,jdbcType=VARCHAR},
        `DESC`      = #{desc, jdbcType=VARCHAR}
    where CODE = #{code,jdbcType=VARCHAR}
  </update>

  <select id="getFieldList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from field
    where CODE in
    <foreach collection="codeList" item="code" open="(" separator="," close=")">
      #{code}
    </foreach>
  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    select *
    from field
    where NAME = #{name}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from field
  </select>

  <select id="selectByCode" resultMap="BaseResultMap">
    select *
    from field
    where CODE = #{code}
  </select>

  <select id="selectByParams" resultMap="BaseResultMap">
    select * from field
    where 1=1
    <if test="beginTime != null">
      AND UPDATE_TIME &gt;= #{beginTime}
    </if>
    <!-- 查询条件：创建结束时间 -->
    <if test="endTime != null">
      AND UPDATE_TIME &lt;= #{endTime}
    </if>
    <if test="code != null and code != ''">
      AND CODE like "%"#{code}"%"
    </if>
    <if test="name != null and name != ''">
      AND NAME like "%"#{name}"%"
    </if>
    <if test="type != null and type != ''">
      AND TYPE = #{type}
    </if>
    <if test="source != null and source != ''">
      AND `SOURCE` = #{source}
    </if>
  </select>

</mapper>