<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devs.devs.dao.RuleResultMapper">
  <resultMap id="BaseResultMap" type="com.devs.devs.dao.model.RuleResultDO">
    <id column="ID" jdbcType="BIGINT" property="id"/>
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="REQUEST_ID" jdbcType="VARCHAR" property="requestId"/>
    <result column="MODEL_ID" jdbcType="VARCHAR" property="modelId"/>
    <result column="RULE_TYPE" jdbcType="VARCHAR" property="ruleType"/>
    <result column="RULE_RESULT" jdbcType="OTHER" property="ruleResult"/>
  </resultMap>
  <sql id="Base_Column_List">
    ID, CREATE_TIME, UPDATE_TIME, REQUEST_ID, MODEL_ID, RULE_TYPE, RULE_RESULT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from rule_result
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete
    from rule_result
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert">
    insert into rule_result (CREATE_TIME, UPDATE_TIME, REQUEST_ID,
                             MODEL_ID, RULE_TYPE, RULE_RESULT)
    values (sysdate(), sysdate(), #{requestId,jdbcType=VARCHAR},
            #{modelId,jdbcType=VARCHAR}, #{ruleType,jdbcType=VARCHAR}, #{ruleResult,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.devs.devs.dao.model.RuleResultDO"
          useGeneratedKeys="true">
    insert into rule_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="requestId != null">
        REQUEST_ID,
      </if>
      <if test="modelId != null">
        MODEL_ID,
      </if>
      <if test="ruleType != null">
        RULE_TYPE,
      </if>
      <if test="ruleResult != null">
        RULE_RESULT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestId != null">
        #{requestId,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=VARCHAR},
      </if>
      <if test="ruleResult != null">
        #{ruleResult,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.devs.devs.dao.model.RuleResultDO">
    update rule_result
    <set>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestId != null">
        REQUEST_ID = #{requestId,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null">
        MODEL_ID = #{modelId,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null">
        RULE_TYPE = #{ruleType,jdbcType=VARCHAR},
      </if>
      <if test="ruleResult != null">
        RULE_RESULT = #{ruleResult,jdbcType=OTHER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.devs.devs.dao.model.RuleResultDO">
    update rule_result
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
        REQUEST_ID  = #{requestId,jdbcType=VARCHAR},
        MODEL_ID    = #{modelId,jdbcType=VARCHAR},
        RULE_TYPE   = #{ruleType,jdbcType=VARCHAR},
        RULE_RESULT = #{ruleResult,jdbcType=OTHER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>